!!!5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/public/stylesheet/index.css"}
  %body
    .game_screen
      %p.crazy_big YOU WIN
      %p.crazy_big :)
      %p.crazy_big
        %a{href: "/"}
          Try again?
